body {
    display: grid;
    grid-template-areas: 
        "results commentator"
        "text commentator";
    grid-template-columns: auto max-content;
    grid-template-rows: max-content auto;
    grid-row-gap: 10px;
}

#entered {
    color: red;
    font-size: 20px;
    display: inline-block;
}

#text-field {
    display: inline-block;
    padding-top: 0;
    font-size: 20px;
}

#text-field::first-letter {
    color: green;
}

#reviews {
	display: flex;
    flex-flow: row wrap;
    grid-area: commentator;
}
.comment {
    float: right;
    position: relative;
    right: 5px;
    max-width: 540px; 
    min-width: 300px;
	flex-basis: 50%;
	margin-left: 50px;
	margin-bottom: 25px;
	padding-left: 53px;
}
.comment_bubble {
	padding: 15px;
    max-width: 300px;
    min-height: 50px;
}
.comment_bubble {
	background: #ebebeb;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-left: 50px;
}
.comment_bubble:before {
	content: "";
    position: absolute;
    right: 80%;
    top: 100%;
    width: 0; 
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid #ebebeb;
}

#results {
    grid-area: results;
    font-size: 25px;
}

.info {
    grid-area: text;
    font-size: 25px;
}
